################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppThreads/.vs/ConsoleAppThreads
/ConsoleAppThreads/bin/Debug/net6.0
/ConsoleAppThreads/obj
.idea