################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppThreads/.vs/ConsoleAppThreads
/ConsoleAppThreads/bin
/ConsoleAppThreads/obj
/ConsoleAppAsyncMethods/bin
/ConsoleAppAsyncMethods/obj
/ConsoleAppCSVFileToDatabase/bin
/ConsoleAppCSVFileToDatabase/obj
.idea